*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Redig';
    src: url(./fonts/redig/OTF/Redig-Regular.otf);
}
header{
    background-image: url(./assets/bg-header.jpg);
    background-repeat: repeat;
    background-size:cover;
    font-family: 'Redig';
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
}
.head button{
    background-color: #e20b6b;
    width: 60vw;
    padding-block: 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Redig';
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}
.head span{
    color: #00E753;
}
.head h1{
    font-size: 45px;
}



#ronaldinho-header{
    width: auto;
    height: 55%;
}
